

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right, #ffa31a, #808080); */
    background: linear-gradient(to right, #441aff, #bd61f3);
    display: flex;
    align-items: center;
    justify-content:center;
}

.main-page {
    width: 50%;
    height: auto;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 30px;
    position: relative;
    align-items: center;
}
.main-page::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .2);
    inset: 0;
    transform: rotate(-3deg);
    border-radius: 30px;
    z-index: -1;
}

.front-page {
    width: 350px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 40px;
    position: relative;
}

.front-page::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .2);
    inset: 0;
    transform: rotate(-3deg);
    border-radius: 40px;
    z-index: -1;
}
.front-page-logo {
    margin-bottom: 2rem;
}

.front-page-logo img {
    width: 190px;
    border-radius: 20px;
}
 .main-page-logo {
    margin-bottom: 2rem;
    width: 190px;
} 

.main-page-logo img {
    width: 140px;
    border-radius: 20px;
}

.front-page-logo,
.front-page-pictures,
.front-page-login {
    text-align: center;
}

.front-page-title {
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  justify-content: center;
}

.front-page-login a{
    text-decoration: none;
    
}

.front-page-login a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    width: 50px
}

.submit {
    width: 90px;
    opacity: 80%;
    color: #160076;
    background-color: #808080;
    border-radius: 10px;
}
.submit:hover {
    opacity: 100%;
}



.sidebar {
    padding: 4rem;
    height: auto;
    background: rgba(255, 255, 255, .5);
    border-bottom-right-radius: 10px; 
    position: fixed;
    left: 0;
    top: 80px;
    width: 5%;
}

.sidebar-link {
    padding-bottom: 10px;
    padding-right: 10px;
}

a:visited {
    color: #160076;
}
a {
    color: #160076;
}
a:hover {
    color: #004cff;
}


.topbar {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    top: 0;
}

.main-page-title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.welcome-txt {
    text-align: center;
    font-family: "Snell Roundhand", "cursive"; 
    font-size: 30px;
    text-decoration: underline dotted;
}

.post-txt {
  text-align: absolute;
  font-family: 'Poppins', sans-serif;
}


.profile-page {
    width: 30%;
    height: auto;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 40px;
    position: relative;
    align-items: center;
    text-align: center;
}

.profile-page::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255,   .2);
    inset: 0;
    transform: rotate(-3deg);
    border-radius: 30px;
    z-index: -1;
}

.profile-page-logo img {
    width: 190px;
    border-radius: 40px;
}

.save {
    width: 110px;
    opacity: 80%;
    color: #160076;
    background-color: #808080;
    border-radius: 13px;
}

.right-com-bar {
    padding: 4rem;
    height: auto;
    background: rgba(255, 255, 255, .5);
    border-bottom-left-radius: 30px;
    position: absolute;
    right: 0;
    top: 80px;
    width: 5%;
}

.searchbar {
  position: absolute;
  right: 70px;
  top: 25px;
  width: 200px;
  padding: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchsubmit {
  position: absolute;
  right: 20px;
  top: 25px;
  height: 48.3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rightbar {
    padding: 4rem;
    height: auto;
    background: rgba(255, 255, 255, .5);
    border-bottom-left-radius: 30px;
    position: absolute;
    right: 0;
    top: 80px;
    width: 5%;
}


.user-message-box {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 200px;
    padding: -10px;
    padding-top: 12px;
    padding-bottom: 10px;
  } 


.usr-post-box {
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
}  

.usr-post-txt {
  width: 400px;
  height: 40px;
  text-size-adjust: 100px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.send-btn {
  width: 70px;  
  height: 45px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.for-you-txt {
  text-align: center;
  font-family: "Snell Roundhand", "cursive"; 
  font-size: 30px;
  text-decoration: underline dotted;
}

.post-box {
  position: relative;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border-radius: 5px;
  outline: 5px solid white;
}

.post-txt {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.usr-post-img {
  width: 4%;
  border-radius: 70px;
}

.usr-post-box-img {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: 10px;
  height: auto;
  border-radius: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.profile-page-name-title {
  justify-content: center;
}

.under-construction-txt {
  position: relative;
  animation-name: under-const;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes under-const {
  0%  {color: #160076; left: 0%; top: 0%;}
  25% {color: #bd61f3; left: 30%; top: 30%;}
  50% {color: #160076; left: 0%; top: 0%;}
  75% {color: #bd61f3; left: -30%; top: -30%;}
  100% {color: #160076; left: 0%; top: 0%;}
}
